body {
  background-color: #fff;
  height: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  display: grid;
}



.dropdown-toggle::after {
  content: none;
}

.custom-shadow {
  box-shadow: 0px 0px 20px 1px #000000;
}

.product_id {
  color: black;
  font-size: 18px;
}

.badge.bg-warning.text-dark {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 1;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1rem;
  box-shadow: 2px 2px 15px 9px #000000;
}

.badge-banner {
  top: 80%;
  border-radius: 15px;
  font-size: 0.7rem;
}