{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6 bg-white p-4 mb-4 mx-3 rounded custom-shadow">
                    <h2 class="text-center mb-4">Пароль успешно изменен</h2>
                    <p>
                        Ваш пароль был успешно изменен. Теперь вы можете 
                        <a href="{% url 'users:login' %}">войти</a> с новым паролем.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}