{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6 bg-white p-4 mb-4 mx-3 rounded custom-shadow">
                    <h2 class="text-center mb-4">Письмо отправлено</h2>
                    <p>
                        Мы отправили вам инструкции по сбросу пароля на указанный email.
                        Если вы не получили письмо, проверьте папку "Спам" или 
                        убедитесь, что ввели правильный адрес.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}