{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock %}

{% block modal_cart %}
    {% include "includes/cart_button.html" %}
{% endblock %}

{% block content %}
    <div class="mt-5 pt-5 custom-shadow rounded">
        <h1 class="m-3"><strong>{{ content }}</strong></h1>
        <p class="m-3">{{ text_on_page }}</p>
    </div>
{% endblock content %}

{% block footer %}
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Авторские права &copy; Company</p>
        </div>
    </footer>
{% endblock %}
