{% extends "base.html" %}
{% load static %}

{% load goods_tags %}
{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock %}

{% block modal_cart %}
    {% include "includes/cart_button.html" %}
{% endblock %}

{% block content %}
    <h1 class="mt-5 pt-5"><strong>{{ content }}</strong></h1>
    
    <div class="row">
<!-- Карта товара -->
                        {% for product in products %}
                        <div class="col-lg-4 col-md-6 p-4">
                            <div class="card border-primary rounded custom-shadow">
                                {% if product.image %}
                                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                                {% else %}
                                    <img src="{% static "deps/images/Not found image.png" %}" class="card-img-top" alt="...">
                                {% endif %}
                                <div class="card-body">
                                    <a href="{% url "catalog:product" product.slug %}">
                                        <p class="card-title">
                                            {% autoescape off %}
                                                {% if product.headline %}
                                                    {{product.headline}}
                                                {% else %}
                                                    {{ product.name }}
                                                {% endif %}
                                            {% endautoescape %}
                                        </p>
                                    </a>
                                    <p class="card-text">
                                        {% autoescape off %}
                                                {% if product.bodyline %}
                                                    {{product.bodyline|truncatechars:100}}
                                                {% else %}
                                                {{ product.description|truncatechars:45 }}
                                                {% endif %}
                                            {% endautoescape %}
                                    </p>
                                    <p class="product_id">id: {{ product.display_id }}</p>
                                    <div class="d-flex justify-content-between">
                                        {% if product.discount %}
                                            <p><s>{{ product.price }}</s> ₽.</p>
                                            <p><strong>{{ product.sell_price }} ₽.</strong></p>
                                            <span class="badge bg-warning text-dark">Скидка {{ product.discount }} %</span>
                                        {% else %}
                                            <p><strong>{{ product.price }} ₽.</strong></p>
                                        {% endif %}
                                        
                                        <a href="{% url "cart:cart_add" %}" class="btn add-to-cart"
                                        data-product-id="{{ product.id }}">
                                            {% csrf_token %}
                                            <img class="mx-1" src="{% static "/deps/icons/cart-plus.svg" %}" alt="Catalog Icon"
                                                width="32" height="32">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
    </div>
    


{% endblock content %}

{% block footer %}
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Авторские права &copy; Company</p>
        </div>
    </footer>
{% endblock %}
